.date{
    font-size: small;
}

.timeline-text-element{
    background-color: #1f2833;
    color: white;
    border-radius: 25px;
    box-shadow: none;
}

.list{
    text-align: left;
    align-content: left;
    list-style-position: inside;
    /* text-indent: -1.4em; */
  }

  .listitem{
    margin-bottom: 10px;
  }